.employee-card {
  border-radius: $card-border-radius $card-border-radius 0 0;
  background-color: $card-background-color;
  color: $card-text-color;
  border: $card-border $card-border-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    border-radius: 0.5em;
    border: $card-border $card-border-color;
  }
  .table-container {
    border: $card-border-thin $card-background-color;
  }
  .media {
    border-radius: $card-border-radius $card-border-radius 0 0;
    border: $card-border-thin $card-background-color;
  }
  .title,
  .subtitle {
    color: $card-text-color;
  }
}
