@import './color-scheme.scss';
$footer-background-color: map-get(
  $map: $color-scheme,
  $key: 'powder-blue',
);
$footer-border-color: map-get(
  $map: $color-scheme,
  $key: 'celadon-blue',
);
$footer-border: 0.5em solid;
footer {
  margin-top: 4rem;
  border-top: $footer-border $footer-border-color;
  border-bottom: $footer-border $footer-border-color;
  background-color: $footer-background-color;
  display: flex;
  flex-direction: row;
  figure {
    display: flex;
    flex-direction: column;
  }
  img {
    padding: 0;
    width: 10rem;
  }
  figcaption {
    p {
      font-style: italic;
    }
  }
  .subtitle span {
    font-family: $company-font;
  }
}
