@charset "utf-8";
@import '~bulma/sass/utilities/initial-variables';
@import './color-scheme.scss';

$tablet: 768px; // default is 769px for unexplained reasons.
$column-gap: 0.25rem;
$title-family: 'Raleway', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$subtitle-family: $title-family;
$primary: map-get(
  $map: $color-scheme,
  $key: 'prussian-blue',
);
$primary-invert: $white;
$scheme-main: map-get(
  $map: $color-scheme,
  $key: 'honeydew',
);
$scheme-main-bis: adjust-color(
  $color: $scheme-main,
  $lightness: -2%,
);
$scheme-main-ter: adjust-color(
  $color: $scheme-main,
  $lightness: -4%,
);
$link: map-get(
  $map: $color-scheme,
  $key: 'imperial-red',
);

// using PostCSS PurgeCSS, so there's no point in importing specific modules (unless we specifically want to avoid Bulma stuff)
@import '~bulma/bulma';

$company-font: 'Lobster Two', cursive;

@import './bg-stripe.scss';
@import './header.scss';
@import './employee-card.scss';
@import './footer.scss';
