include ./mixins/employeeCard.pug

doctype html
html(lang="en")
  include ./includes/header.pug
  body
    header.level
      div.level-right
        h1.level-item #{team} @ #{company.name}
    main
      div.container
        each employee in Object.values(employees)
          +employeeCard(employee)