include ./mixins/employeeCard.pug

doctype html
html(lang="en")
  include ./includes/header.pug
  include ./includes/bg-stripe.pug
  body
    header.level.px-2.py-2
      div.level-left.px-2
        h1.title.is-2= team
      div.level-right.px-1
        h2 @ #{company.name}
    main
      div.columns.is-mobile
        div.column.is-half.is-offset-one-quarter
          +employeeCard(manager)
      div.columns.is-multiline.is-mobile.is-vcentered
        each employee in Object.values(employees)
          div.column.is-half
            +employeeCard(employee)