mixin engineerRows(engineer)
  - const github = engineer.getGithub()
  tr
    th.has-text-right.is-size-7.is-size-6-desktop GitHub
    td.is-size-7.is-size-6-desktop
      a.is-size-7.is-size-6-desktop(href=`https://github.com/${github}`)= github
