div.stripe-container
  div.stripe.has-background-prussian-blue
  div.stripe.has-background-celadon-blue
  div.stripe.has-background-powder-blue
  div.stripe.has-background-white
  div.stripe.has-background-imperial-red
  div.stripe.has-background-honeydew
div.stripe-overlay