footer.level.px-2.py-2
  div.level-left.px-2
    p.subtitle.is-4 © #{new Date().getFullYear()} 
      span= company.name
  div.level-right.px-2
    figure
      img(src='assets/images/contoso.png')
      figcaption
        p.subtitle.is-6 a Contoso® Company