footer.level.px-2.py-2
  div.level-left.px-2
    p.subtitle.is-5 © #{new Date().getFullYear()} #{company.name}
  div.level-right.px-2
    figure
      img(src='assets/img/contoso.png')
      figcaption
        p A Contoso Company
