include ./mixins/employeeCard.pug
doctype html

html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/bg-stripe.pug
    include ./includes/header.pug
    main
      div.columns.is-centered
        div.column.is-two-thirds
          +employeeCard(manager)
      div.columns.is-multiline.is-centered.is-vcentered
        each employee in employees
          div.column.is-half.is-one-third-widescreen
            +employeeCard(employee)
    include ./includes/footer.pug